
$base-spacing-unit: 16px; // base spacing for your theme
// themes/vonge/sass/css/0-settings.scss

// Primary site color
$primary-color: #1abc9c; // main color
$accent-color: #34495e; // buttons, links, highlights
$background-color: #f5f0e6; // main background
$text-color: #2c3e50;       // main text
$secondary-text-color: #e5989b; // secondary text or hover
// Font
$font-family-base: 'Helvetica Neue', sans-serif;
