{% extends "base.html" %}
{% block main %}
<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">My Works</h1>
        <p class="subtitle has-text-centered">
            Previous Projects
        </p>
        
        
        <!-- DEBUG PROJECT LIST -->
        {% set debug_section = get_section(path="projects/_index.md") %}
        <ul>
        {% for p in debug_section.pages %}
            <li>{{ p.title }} ({{ p.path }})</li>
        {% endfor %}
        </ul>

        {# Explicitly get the projects section #}
        {% set projects_section = get_section(path="projects/_index.md") %}
        {% set pages = projects_section.pages %}

        {% if section.pages | length > 0 %}
        <div class="projects-grid">
            {% for page in pages %}
	    <a href="{{ page.permalink }}" class="project-item">
                <div class="project-image">
                    <img src="{{ get_url(path=page.extra.image) }}" alt="{{ page.title }}">
                    <div class="overlay">
                        <h2 class="project-title">{{ page.title }}</h2>
                    </div>
                </div>
	    </a>
            {% endfor %}
        </div>
        {% else %}
        <p>No projects found.</p>
        {% endif %}
    </div>
</section>
{% endblock %}



