{% extends "base.html" %}
{% import "components/project-card.html" as project_card %}

{% block main %}
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">My Works</h1>
    <p class="subtitle">Previous Projects</p>

    {% if section.pages %}
    <div class="project-grid">
      {% for page in section.pages %}
        {{ project_card::project_card(data=page) }}
      {% endfor %}
    </div>
    {% else %}
      <p>No projects found.</p>
    {% endif %}
  </div>
</section>
{% endblock %}

